@import "tailwindcss";

@layer base {
    * {
      @apply text-black;
    }
    h1{
      @apply font-bold;
      @apply text-xl;
    }
    button {
        @apply cursor-pointer;
    }
    body {
      overflow: auto; 
      }
    html {
        overflow: auto !important;
      }
  }


@theme{
    --color-primary: #2147A6;
    --color-secondary: #102967;
    --color-green-button: #0F783B;
    --color-green-hover: #80B498;
    --color-hover: #5E78B9;
    --color-red-button: #A6212C;
    --shadow-3xl: 0px 2px 12px rgba(0, 0, 0, 0.5);
}