@import "tailwindcss";

@layer base {
    * {
      @apply text-black;
    }
    h1{
      @apply font-bold;
      @apply text-xl;
    }
    button {
        @apply cursor-pointer;
    }
    body {
      overflow: auto; 
      }
    html {
        overflow: auto !important;
      }
  }


@theme{
    --color-primary: #2147A6;
    --color-secondary: #102967;
}